body {
	background-image: url("https://images.unsplash.com/22/brick-wall.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
	background-size: cover;
	color:black;
	
}

div#footer {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

div#footer2 {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:5px;
}

.jumbotron {
	box-shadow: 1px 1px 5px black;
}

.content {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  background-color: #eee;
  margin-top: 20px;
	box-shadow: 1px 1px 5px black;
}

.join_style {
  border: 2px solid red;
  padding: 5px;
}

.btn-sm {
	padding: 2px;
}

.required {
	font-style: italic;
	color: rgb(162, 162, 162);
	font-size: 11px;
	margin-top: -7px;
}