@{
  Layout = "_Layout";
}

<div class="content">
<h3>Thanks for registering!</h3>
<br>
<h5><p>@Html.ActionLink("Log in here", "Login", "Account")</p></h5>
<hr />
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>