@{
  Layout = "_Layout";
}
<div style="text-align: center; margin-top: 5px;" class="jumbotron">
  <h1>Welcome to Pierre's World Famous Bakery</h1>
  <h3>We've got the treats</h3>
  <hr />
  <p>@Html.ActionLink("Treat Menu", "Index", "Treats")</p> 
  <p>@Html.ActionLink("Flavor List", "Index", "Flavors")</p>
  <p>@Html.ActionLink("Log In/Create Account", "Index", "Account")</p>
</div>